profiles {
    standard {
        executor {
            name = "local"
            cpus = 12
            memory = "128 GB"
        }
    }

    slurm {
        executor {
            name = "slurm"
            queueSize = 40
            pollInterval = '2 min'
            dumpInterval = '3 min'
            queueStatInterval = '5 min'
            exitReadTimeout = '10 min'
            killBatchSize = 50
            submitRateLimit = '40 min'
            clusterOptions = '-p default'
        }

    }

    tower {
        workspaceId = "<my-id>"
        accessToken = "<my-token>"
        enabled = false
    }
}

singularity.runOptions = "-B $TMPDIR"
