singularity {
    enabled = true
    runOptions = "--no-home -B /home/isilon/,/home/gpfs/o_diener,${env('TMPDIR')}"
    cacheDir = "${env("HOME")}/cache"
}

profiles {
    medbionode {
        executor {
            name = "slurm"
            queueSize = 128
            pollInterval = '30 sec'
            dumpInterval = '30 sec'
            queueStatInterval = '1 min'
            exitReadTimeout = '10 min'
            killBatchSize = 100
            submitRateLimit = '100/1 min'
        }

        process {
            scratch = false
            beforeScript = 'export PATH=$PATH:$HOME/miniforge3/bin:/usr/bin/ OMP_NUM_THREADS=1'

            queue = 'cpu'

            withName: BUSCO_BUSCO {
                ext.when = false
            }
        }

        tower {
            workspaceId = secrets.INTERNALID
            accessToken = secrets.LABTOKEN
            enabled = true
        }

    }

    local {
        executor {
            name = "local"
            cpus = 10
            memory = "512 GB"
        }

        tower {
            workspaceId = secrets.INTERNALID
            accessToken = secrets.LABTOKEN
            enabled = true
        }

    }

    collab {
        tower {
            workspaceId = secrets.COLLABID
            accessToken = secrets.LABTOKEN
            enabled = true
        }
    }
}
